.img-container {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.img-div {
    position: relative !important;
    width: 100%;
    padding-bottom: 58% !important;
    padding-top: 0 !important;
}

.img-grid {
    width: 100% !important;
}

.item-img {
    width: 100% !important;
    height: 100%;
    background-size: 85% !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    position: absolute;
    display: flex;
    align-items: center;
}

.item-data {
    border: none !important;
}

.carousel-indicator {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background: #C4C4C4;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
}

.disactive-arrow {
    visibility: hidden;
}

.detail-grid {
    margin-top: 1.1em !important;
}

.active-indicator {
    background: #646363 !important;
}

.data-col {
    border: none !important;
}

.data-col-btn {
    border: none !important;
    text-align: right !important;
    padding-right: 0 !important;
}

.contact-btn {
    display: inline;
    padding-right: 0.5em !important;
}

.data-values {
    font-weight: 700 !important;
    text-align: right !important;
}

.enquire-flex {
    justify-content: flex-end !important;
}

.title {
    text-transform: capitalize !important;
    display: inline !important;
    font-size: 1.5em !important;
    font-weight: 700 !important;
    padding-bottom: .3em !important;
    text-overflow: clip !important;
    overflow: hidden !important;
}

.title-tag {
    display: inline !important;
    margin-left: auto !important;
    padding-right: 0.5em !important;
    padding-bottom: .3em !important;
    font-size: 1.5em !important;

}

.popup-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1rem;
}

.avtar {
    width: 31px !important;
    height: 31px !important;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.angle-container {
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.angle-container-right {
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.detail-div {
    padding-top: 3em !important;
}

.detail-div-modal {
    padding-top: 2.1em !important;
}

.swipe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.table-p {
    margin-top: 1.5em !important;
}

.pholder-line {
    padding-top: 1em !important;
}

.title-item {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.title-item-mobile {
    margin-top: 1em !important;
}

.title-row {
    padding-bottom: 0 !important;
    overflow: hidden !important;
    text-overflow: clip !important;
}