.item-img {
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.dimmer-grid {
    background: #ffffff !important;
}

.user-grid {
    background: #F5F5F5 !important;
    padding: 2em !important;
}

.mobile-slider {
    padding-top: .3em !important;
    margin-left: .3em !important;
}

.category-list {
    margin-top: 1em !important;
}

.sub-cat {
    text-transform: capitalize;
}

.load-more {
    margin-top: 2.2em !important;
    cursor: pointer;
}

.load-more-sale {
    cursor: pointer;
    margin-top: -2.3em !important;
}

.load-more-sale:hover {
    background: rgb(245, 246, 246) !important
}

.load-more:hover {
    background: rgb(245, 246, 246) !important
}

.card-sale {
    margin-bottom: 1.3em !important;
}