.person-img {
    padding-bottom: 100% !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    border: #ffffff 3px solid;
    border-radius: 50%;
    box-sizing: border-box !important;
}

.dimmer-grid {
    background: #ffffff !important;
}

.user-grid {
    background: #F5F5F5 !important;
    padding: 2em !important;
}

.mobile-slider {
    padding-top: .3em !important;
    margin-left: .3em !important;
}

.category-list {
    margin-top: 1em !important;
}

.sub-cat {
    text-transform: capitalize;
}

.load-more {
    margin-top: 2.2em !important;
    cursor: pointer;
}

.load-more-sale {
    cursor: pointer;
    margin-top: -3em !important;
}

.load-more-sale:hover {
    background: rgb(245, 246, 246) !important
}

.load-more:hover {
    background: rgb(245, 246, 246) !important
}

.card-sale {
    margin-bottom: 1.3em !important;
}

.user-name {
    font-size: 1.5em !important;
    font-weight: 700;
    margin-top: 1em !important;
    text-transform: capitalize !important;
}

.user-role {
    font-size: 1em !important;
}

.request-head {
    margin-top: 2em !important;
    margin-bottom: 1em !important;
}

.account-body {
    border-left: 1px solid rgba(34, 36, 38, 0.15) !important;
    padding-left: 1.5em !important;
}

.sale-row {
    margin-top: -1em !important;
}

.slide {
    padding-top: .4em !important;
    margin-left: .5em !important;
}

.no-items {
    font-size: 1.1em !important;
    margin-left: .5em !important;
}

.p-holder {
    background: #F5F5F5 !important;
}

.p-holder-img {
    color: #F5F5F5 !important;
}

.p-holder-h::before {
    background: #F5F5F5 !important;
}