.img-container {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.img-div {
    position: relative !important;
    width: 100%;
    padding-bottom: 58% !important;
    padding-top: 0 !important;
}

.img-grid {
    width: 100% !important;
}

.item-img {
    width: 100% !important;
    height: 100%;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    position: absolute;
}

.item-data {
    border: none !important;
}

.carousel-indicator {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
    background: #C4C4C4;
    margin-right: 6px;
    cursor: pointer;
}

.active-indicator {
    background: #646363 !important;
}

.data-col {
    border: none !important;
    cursor: default;
}

.data-values {
    font-weight: 700 !important;
    text-align: right !important;
}

.enquire-flex {
    justify-content: flex-end !important;
}

.title {
    text-transform: capitalize !important;
    padding-bottom: .3em !important
}

.popup-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1rem;
}

.avtar {
    width: 31px !important;
    height: 31px !important;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.title {
    text-transform: capitalize !important;
    display: inline !important;
    font-size: 1.5em !important;
    font-weight: 700 !important;
}

.title-item {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.p-holder {
    padding-top: 1em !important;
}

.detail-div {
    padding-top: 3em !important;
}