.menu-item {
    flex-direction: row !important;
    background: none !important;
}

.menu-span {
    margin-left: .7em !important;
}

.category-menu {
    border: none !important;
    box-shadow: none !important;
    justify-content: center !important;
}

.menu-item:hover {
    background: none !important;
    color: #494949 !important;
}

.cat-icon {
    font-size: 1em !important;
}