.ui.labeled.icon.menu.category-menu .item {
    flex-direction: row;
}
.ui.labeled.icon.menu.category-menu span{
    margin-left: 10px;
    font-size: 17px;
}
.ui.labeled.icon.menu.category-menu{
    border: none;
    box-shadow: none;
    justify-content: center;
}
.ui.labeled.icon.menu.category-menu .item:hover{
    background: none;
    color: #494949;
} 
.ui.labeled.icon.menu.category-menu .item.active{
    background: none;
} 