.menu-item {
    flex-direction: row !important;
    background: none !important;
    height: 100% !important;
    z-index: 10 !important;
}

.menu-span {
    margin-left: .3em !important;
}

.all-item {
    min-width: 0 !important;
}

.category-menu {
    border: none !important;
    box-shadow: none !important;
    flex-wrap: nowrap !important;
}

.menu-item:hover {
    background: none !important;
    color: #494949 !important;
}

.cat-icon {
    font-size: 1em !important;
}

.menu-dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.category-menu-mobile {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 70.16px !important;
}

.category-menu-desktop{
    justify-content: center !important;
}

.wrapper-mobile {
    overflow: hidden;
    height: 60px;
}

.popup-menu-heading {
    margin: 7px auto;
    padding: 3px 5px !important;
}

.popup-menu-subcat {
    margin: 7px auto;
    padding: 3px 5px !important;
}