.items-grid {
    background-color: #F5F5F5 !important;
    padding-left: 42px !important;
    padding-right: 42px !important;
    margin-top: .5em !important;
}

.item-img {
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.loader {
    padding-bottom: 2em !important;
}

.no-items {
    font-size: 1.1em !important;
    margin-left: .5em !important;
}
.p-holder{
    padding-top:1em;
    margin-top: 3em;
}