.items-grid {
    margin-top: 1.5em !important;
    background-color: #F5F5F5 !important;
}

.item-img {
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.loader {
    padding-bottom: 2em !important;
}

.no-items {
    font-size: 1.1em !important;
    margin-left: .5em !important;
}

.p-holder {
    padding-top: 1em;
    margin-top: 3em;
    background: #F5F5F5 !important;
}