.items-grid {
    background-color: #F5F5F5 !important;
    margin-top: 1.5em !important;
    box-sizing: border-box !important;
}

.sort-dropdown {}

.item-img {
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.dimmer-grid {
    background: #ffffff !important;
}

.loader {
    padding-bottom: 2em !important;
}

.card-div {
    height: 100% !important;
    margin-bottom: 1.3em !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sort {
    float: right !important;
    text-align: left;
}

.no-items {
    font-size: 1.1em !important;
    margin-left: .5em !important;
}

.sort-mobile {
    margin-top: 1em !important;
}

.card-div {
    height: 100% !important;
}