.items-grid {
    background-color: #F5F5F5 !important;
    padding-left: 42px !important
}

.sort-dropdown {}

.item-img {
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.dimmer-grid {
    background: #ffffff !important;
}

.loader {
    padding-bottom: 2em !important;
}

.card-div {
    height: 100% !important;
    margin-bottom: 1.3em !important;
}