.item-card-img {
    width: 100%;
    padding-bottom: 68%;
    background-size: cover !important;
    background-position: 50% 50% !important;
}

.title {
    text-transform: capitalize;
}

.card-header {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-div {
    height: 100% !important;
}