.edit-icon {
    cursor: pointer !important;
    color: #c4c4c4 !important;
}

.edit-icon:hover {
    color: rgba(0, 0, 0, 0.85) !important;
}

.card-icon {
    color: #828282 !important;
    cursor: pointer !important;
}

.card-icon:hover {
    color: rgba(0, 0, 0, 0.85) !important;
}

.archive {
    color: #ffffff !important;
}

.yesNo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.edit-grid {
    background: #ffffff !important;
}

.modal-cont {
    padding-top: .5em !important;
}

.options-icon {
    min-width: 45px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}