:global .bns-nav-search-bar > .input {
    width: 100% !important;
    border-radius: 0 !important;
}
:global .bns-nav-search-bar > .input > .prompt {
    border-radius: 4px;
}
.nav-btn{
    width: 115px;
    border-radius: 4px;
}
:global .bns-nav-usr-icon{
    margin-left: 4px;
}
:global .bns-nav-usr-icon .icon::before{
    font-size: 36px;
}