.item-menu {
    background: #ffffff !important;
}

.type-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.link-item {
    outline: none !important;
}

.link-item:hover {
    opacity: .6 !important;
}